html, body {margin: 0;padding: 0; font-family: 'Noto';}

body {display: none}
@font-face {
    font-family: 'Noto';
    src: url('font/NotoSans-Regular.eot');
    src: url('font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('font/NotoSans-Regular.woff2') format('woff2'),
         url('font/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
}

.logo, .user_i, .artwork, .about {		
    width: 100%;
    text-align: center;
    position: relative;
}
.logo img {
    width: 30%;
}

.user_i span, .artwork span, .about span {
    position: absolute;
    top:50%;
    left: 50%;
	font-size:72px;
	color: #303036
}

.user_i span a, .artwork span a, .about span a,
.user_i span a:link, .artwork span a:link, .about span a:link {
    color:#303036;
	text-decoration:none
}

.user_i span a:hover, .artwork span a:hover, .about span a:hover {
    color:#4caae7;
	transition: all .2s;
}

.user_i span a:active, .artwork span a:active, .about span a:active {
    color:#28282d;
}

.user_i span {
    margin-left: -171px;
	margin-top: -90px;
}
.artwork span {
    margin-left: -159px;
	margin-top: -45px;
}
.about span {
    margin-left: -123px;
	margin-top: -90px;
}
.title_sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    text-align: center;
}
.title span {
    color:#303036;
    text-decoration:none;
    font-size:120px;
    color: #303036;
}

.user_i_text {
	font-size:72px
}

.user_i img, .artwork img {
	width: 100%;
	max-width:1100px
}
.about img {
	width: 30%;
}

.section .about ~ copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -130px;
	color:#ACACAC
}

.contents ~ copyright {
    width:100%;
    text-align: center;
    display: block;
    padding: 50px 0 10px 0;
	color:#ACACAC
}


.logo ~ .nav_btn, .user_i ~ .nav_btn, .artwork  ~ .nav_btn, .title  ~ .nav_btn {
    position: absolute;
    bottom: 2px;
    left: 50%;
    width: 20px;
    margin-left: -10px;
    z-index: 999;
    height:20px
}

.nav_btn.sub {
	bottom:17px;
}
	
.contents {
	padding:0 100px;
}

.thumbnail {
	width:100%; 
	margin:0 auto;
}

.thumbnail ul {
	margin:16px 0 0 0; 
	padding:0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumbnail ul:after {content:''; display:block;clear:both;}
.thumbnail ul li {width:50%;max-width:600px;list-style-type:none;position: relative;text-align: center}
.thumbnail ul li img {width:100%;max-width:600px}
.thumbnail ul li:first-child {margin-right:20px}
.thumbnail ul li.single {margin: 0;width:100%;max-width:940px;text-align:justify}
.thumbnail ul li.single2 {margin: 0;max-width:940px;text-align:center}
.thumbnail ul li.single-text {margin: 0;width:100%;max-width:940px;text-align:center;color:#949494}
.thumbnail ul li.single-text2 {margin: 0;width:100%;max-width:940px;text-align:center;color:#000;font-size:36px}
.thumbnail ul li.single-text3 {margin: 0;width:100%;max-width:940px;text-align:center;color:#585858;font-size:24px}
.thumbnail ul li.single img {width:100%;max-width:940px}
.thumbnail ul li.single .symbol {margin: 100px auto;width:70%;max-width:940px;text-align:center;}
.thumbnail ul li.single-mail {width:20%;max-width:100px}
.contentsBox {
    opacity: 0;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    width: 100%;
    height:calc(100% - 3px);
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}
.contentsBox span {
    color: #fff;
    font-size: 50px;
}
.thumbnail ul li:hover .contentsBox {
    opacity: 1;
}

.gnb {

}
.gnb ul {
    margin: 40px 0 0 0;padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gnb ul {list-style: none}
.gnb ul a {
    margin: 0 30px;
    font-size: 50px;
    text-decoration: none;
}
.gnb ul a {
    color:#303036;
	text-decoration: none;
}
.gnb ul a:hover {
    color:#4caae7;
	transition: all .2s;
}
.gnb ul a:active {
    color:#28282d;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
  
  .logo ~ .nav_btn, .user_i ~ .nav_btn, .artwork  ~ .nav_btn, .title  ~ .nav_btn {
		width: 50px;
		margin-left: -25px;
		bottom: -110px;
	}
  .logo ~ .nav_btn a, .user_i ~ .nav_btn a, .artwork  ~ .nav_btn a, .title  ~ .nav_btn a {
		padding: 40px 0;
		display: block;
	}
	.nav_btn.sub {
		bottom:20px;
	}
	.logo img {
    	width: 50%;
	}
	.about img {
		width: 70%;
	}
	.thumbnail ul {
		flex-direction: column;
		margin:0
	}
	.thumbnail ul li {
		margin: 20px 0 0 0;
		width:100%;
		max-width:940px;
		text-align:justify;
	}
	.thumbnail ul li:first-child {
		margin-right: 0px;
	}
	.thumbnail ul li img {
		width:100%;
		max-width:940px
	}
	.single {
		font-size: 25px;	
	}
	.thumbnail ul li.single-text {
		font-size: 30px
	}
	.thumbnail ul li.single {
		margin: 20px 0 10px 0;
	}
	.thumbnail ul li.single-mail {width:20%;max-width:150px}
	
}

