html, body {margin: 0;padding: 0; font-family: 'apple';}

@font-face {
    font-family: 'apple';
    src: url('font/applesdgothicneo-regular-webfont.eot');
    src: url('font/applesdgothicneo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/applesdgothicneo-regular-webfont.woff2') format('woff2'),
         url('font/applesdgothicneo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
}

.logo, .user_i, .artwork, .about {
    width: 100%;
    text-align: center;
    position: relative;
}
.logo img {
    width: 30%;
}

.user_i span, .artwork span, .about span {
    position: absolute;
    top:50%;
    left: 50%;
	font-size:72px;
	color: #303036
}

.user_i span a, .artwork span a, .about span a,
.user_i span a:link, .artwork span a:link, .about span a:link {
    color:#303036;
	text-decoration:none
}

.user_i span a:hover, .artwork span a:hover, .about span a:hover {
    color:#4caae7;
}

.user_i span a:active, .artwork span a:active, .about span a:active {
    color:#28282d;
}

.user_i span {
    margin-left: -171px;
	margin-top: -90px;
}
.artwork span {
    margin-left: -159px;
	margin-top: -45px;
}
.about span {
    margin-left: -123px;
	margin-top: -90px;
}

.user_i_text {
	font-size:72px
}

.user_i img, .artwork img {
    width: 70%;
}
.about img {
	width: 30%;
}

.section .about ~ copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -130px;
	color:#ACACAC
}

.logo ~ .nav_btn, .user_i ~ .nav_btn, .artwork  ~ .nav_btn {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 10px;
    margin-left: -5px;
    z-index: 999;
}

